<div class="container flex flex-col flex-wrap space-y-2">
  <div class="basis-8/12">
    <div id="map"></div>
  </div>

  <div class="basis-full h-20">
    <label>Pick matrix to be displayed on the map</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="selectMatrix"
    >
      @for (matrix of matrices; track matrix) {
      <mat-radio-button
        class="example-radio-button"
        [value]="matrix"
        (change)="showMatrix(matrix)"
        >{{ matrix }}</mat-radio-button
      >
      }
    </mat-radio-group>
  </div>
  <div>
    <app-timeseries
      [matrix]="selectMatrix"
      [block]="selectBlock"
    ></app-timeseries>
  </div>
</div>
